<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group">
            <div class="list-group-item list-group-item-home text-center">
                <h1><i class="fa fa-users feature-icon text-primary"></i> Users</h1>
            </div>
            <div class="list-group-item list-group-item-home media">
                <div ng-controller="UserInfo">
                    dados: {{data.nome}}  
                    Status: {{status}} 
                    valor: {{2+2}}
                </div>
            </div>
        </div>

    </div>
</div>
